img {
    width: 300px;
}

header{
    background-color: aquamarine;
    color: black;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #FFFFFF;
    color:#183C63;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.artigo-autor{
    font-weight: bold;         /* espessura  da fonte - negrito */
}

article {
    display: flex;    /* contâiner flexível */
}

footer {
    background-color: aqua;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

div {
    margin: 0 auto;
    padding: 20px;
}